/*
BASIC SETUP*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

html
{
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*END OF THE BASIC SETUP*/


/*LOGO ICONS SETUP*/

.row .logo
{
    height: 120px;
    width: auto;
    margin-top: 20px;
    float: left;
}


/*END OF ICOS LOGO*/

/*MAIN NAVIGATION*/

.main-nav
{
    margin-top: 55px;
   float: right;
   list-style: none;
    
}

.main-nav li
{
    display: inline-block;
    margin-right: 50px;
   
}

.main-nav li a:link,
.main-nav li a:visited
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}

.main-nav li a:hover,
.main-nav li a:active
{

    border-bottom: 1px solid #ff9f43;
    transition: border-bottom 0.6s;color 0.2s;
}
/*END OF MAIN NAVIGATIOn*/




/*END OF ICONS LOGO SETUPS*/

/*HEADER CODES*/

header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(/resources/img/pexels-viktoria-alipatova-2074130.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 7.0;
}

h1
{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
     font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
}
.hero-text-box
{
    position: absolute;
    width: 1140px;
   
    top: 40%;
    left: 10%;
}


/*END OF THE HEADER*/


/*ROW SETUP*/


.row
{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/*END OF ROW SETUP*/




/*
BUTTONS SETUP

*/
.btn:link,
.btn:visited
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
     border-radius: 20px;
     color: white;
    transition: background-color 0.5s,border 0.3s,color 0.3s;
}

.btn-full:link,
.btn-full:visited
{
    background-color: #ff9f43;
    border: 1px solid #ff9f43;
    margin-right: 10px;
   
}
.btn-ghost:link,
.btn-ghost:visited
{

    border: 1px solid #ff9f43;
    color: #ff9f43;
}

.btn:hover,
.btn:active
{
    background-color: #a75200;
}

.btn-ghost:hover,
.btn-ghost:active
{
    background-color: white;
    color: #ff9f43;
}

/*ENDER OF THE BUTTON SETUP*/
