/*
BASIC SETUP*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

html
{
    font-size: 18px;
    font-weight: 150;
    text-rendering: optimizeLegibility;
    
}
/*ICONS */

.icon-big
{
    font-size: 80px;
    display: block;
    color: #ff9f43;
    
}

/*END OF THE BASIC SETUP*/

/*LOGO ICONS SETUP*/

.row .logo
{
    height: 120px;
    width: auto;
    margin-top: 20px;
    float: left;
}

/*END OF ICOS LOGO*/

/*MAIN NAVIGATION*/

.main-nav
{
    margin-top: 55px;
   float: right;
   list-style: none;
    
}

.main-nav li
{
    display: inline-block;
    margin-right: 50px;
   
}

.main-nav li a:link,
.main-nav li a:visited
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
}

.main-nav li a:hover,
.main-nav li a:active
{

    border-bottom: 1px solid #ff9f43;
    transition: border-bottom 0.6s;color 0.2s;
}
/*END OF MAIN NAVIGATIOn*/




/*END OF ICONS LOGO SETUPS*/

/*HEADER CODES*/

header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url(/resources/img/pexels-viktoria-alipatova-2074130.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 7.0;
    background-attachment: fixed;
}

h1
{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.hero-text-box
{
    position: absolute;
    width: 1140px;
   
    top: 40%;
    left: 10%;
}


/*END OF THE HEADER*/


/*ROW SETUP*/


.row
{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}

/*END OF ROW SETUP*/




/*
BUTTONS SETUP

*/
.btn:link,
.btn:visited
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
     border-radius: 20px;
     color: white;
    transition: background-color 0.5s,border 0.3s,color 0.3s;
}

.btn-full:link,
.btn-full:visited
{
    background-color: #ff9f43;
    border: 1px solid #ff9f43;
    margin-right: 10px;
   
}
.btn-ghost:link,
.btn-ghost:visited
{

    border: 1px solid #ff9f43;
    color: #ff9f43;
}

.btn:hover,
.btn:active
{
    background-color: #a75200;
}

.btn-ghost:hover,
.btn-ghost:active
{
    background-color: white;
    color: #ff9f43;
}

/*ENDER OF THE BUTTON SETUP*/

.section-features .row
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-top: 80px;

}
h2
{
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

/*Line separator*/

h2:after
{
   display: block;
   background-color: #ff9f43;
   height: 2px;
   content:"";
   width: 100px;
   margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
   
}
h3
{
     font-size: 35px;
     letter-spacing: 1px;
     word-spacing: 4px;
     font-weight: 300;
     text-transform: uppercase;
     margin-right: auto;
     margin-left: auto;
    
}

/*PARAGRAPHS*/
.long-copy
{
    
    line-height: 120%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 10px;   
}

.box
{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    word-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.box p
{
   font-size: 18px;
    color: rgb(216, 124, 38);
    line-height: 100%;
}

/*MEALS*/
.meals-showcase
{
    list-style: none;
    width: 100%;
    margin-top: 30px;

}

.meals-showcase li
{
    display: block;
    float: left;
    width: 25%;
    height: auto;
    
}

.meal-photo
{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img
{
    opacity: 0.4;
    width: 100%;
    height: auto;
    transform: scale(1.10);
}

.meal-photo img:hover
{
    opacity: 1;
    transform: scale(1.15);
    transition: transform 0.20s , opacity 0.3s;
    
}

/* HOW IT WORKS FEATURES*/

.step-box
{
    margin-top: 40px;
    
}

.step-box:first-child
{
    text-align: right;
}


.step-box:last-child
{
    text-align: left;
    
}
.featurse-steps
{
    padding-top: 40px;
    background-color: #eae6e6;
}

.app-screens
{
    width: 40%;
    height: auto;
    padding-right: 3%;
}

.howitworks:last-of-type
{
    margin-bottom: 70px;
}
.howitworks
{
    margin-bottom: 60px;
    margin-left: 20px;
}

.howitworks div
{
    color: #ff9f43;
    border: 2px solid #ff9f43;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-right: 5px;
}

.clearfix
{zoom:1}

.clearfix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
    
}

.howitworks p
{
    padding-top: 12.5px;
}

.step-box .howitworks
{
    padding-top: 17.5px;
   
}

.step-box .howitworks:first-child
{
  
    margin-bottom: 50px;
}

.step-box .howitworks:last-child
{
  
    margin-top: 10px;
}

.btn-app img
{
    height: 50px;
    width: auto;
    margin-right: 10px;
    
}

/* CURRENT CITY SECTION */

.box img
{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}
.city-feature
{
    margin-bottom: 5px;
}

.city-features i
{
    height: 30px;
    width: 30px;
    
}

.icon-small
{
    color: #ff9f43;
    height: 50px;
    width: 50px;
    display: inline-block;
    
}

.city-features a:link,
.city-features a:visited
{
    text-decoration: none;
    color: #ff9f43;
    padding-bottom: 1px;
    transition: border-bottom 0.9s ,color 0.4s;
}
.city-features a:hover,
.city-features a:active
{
    color: rgba(121, 64, 9, 0.87);
    border-bottom: 1px solid transparent;
}


.section-testimonials
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)) , url(/resources/img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding-top: 30px;
    margin-top: 20px;
    
}
blockquote:before
{
    content: "\201C";
    font-style: italic;
    font-size: 400%;
    display: block;
    position:absolute;
    top: 0;
    left: 0;
}




blockquote
{
    padding: 2%;
    font-style: italic;
    line-height: 140%;
    position: relative;
    
}
cite
{
    font-size: 90%;
    margin-top: 20px;
    display: block;
}

cite img
{
    height: 70px;
    width: auto;
    border-radius: 50%;
    margin-right = 10px;
    vertical-align: middle;
    margin-right: 10px;
}




.plan-features
{
    background-color: #eae6e6;
}


.plan-box
{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    height: 350px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.64);
}

.plan-box h3
{
     text-align: center;
}

.plan-box div
{
    padding-left: 15%;
    padding-right: 15%;
  
}

.plan-box div:first-child
{
    background-color: rgba(169, 169, 169, 0.1);
    padding-bottom: 10px;
    padding-top: 10px;
   
}


.plan-box div:last-child
{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
    padding-top: 10px;
   
   
}




.price
{
    font-size: 250%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #ea801b;
     text-align: center;
    
}

.plan-price-meal
{
    margin-bottom: 15px;
    font-size: 80%;
     text-align: center;
}

.price span
{
    font-size: 50%;
   
    font-weight: 300%;
}

.list
{
    padding-top: 10px;
    margin-left: 20px;
     
}

.list .list-element
{
    line-height: 30px;
    
}
.list li
{
    color: darkgrey;
    list-style: none;
}
.btn-pressed
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.list-element .small-icon
{
    padding-right: 20px;
    color: #ff9f43;
}


